$colors: (
	common: ("white": #fff,
		"black": #000,
		"blue": #2785ff,
		"heading": #000000,
		"text": #2D2D2D,
		"border": #0b3d2c,
		"placeholder": #777777,
		"gray": #acacac,
	),
	theme: ("1": #71BF44,
		"2": #FBD017,
	),
	bg: ("1": #FFF9F9,
		"2": #F8F3FF,
		"3": #FFBC77,
		"4": #EFE2FF,
		"5": #FFF1F1,
		"6": #F6F9FE,
		"7": #B8B8B8,
		"8": #1976D2,
		"9": #29ABE2,
		"10": #A346B3,
		"11": #0077B7,
		"12": #FFECE2,
		"13": #FFF7F3,
		"14": #F7F7F7,
		"15": #F7F5FA,
		"16": #219FFF,
		"17": #071311,
		"18": #F3F3F3,
		"19": rgb(242, 242, 242),
		"20" :#FFEBEB,

	),
	border: ("1": #2E2E2E,
		"2": #d5d5d55b,
		"3": #d5d5d55c,
		"4": #d5d5d56e,
		"5": #EBEBEB,
	)
);